<div class="container">
    <div class="row">
        <div class="funcioanlidades">
            <div>
                <p>{{arreglo1}}</p>
                <!-- <button>Eliminar</button>
                <button>Editar</button> -->
            </div>

            <div>
                <input type="text" >
                <button class="btn btn-primary" (click)="agregar(var1)">Agregar</button>
                <input type="text">
                <button class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </div>
</div>
